/* add a css reset */

body {
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
}

button {
  padding: 1em 5em;
  border: 1px solid #000000;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
}

.flex {
  display: flex;
  flex: 1;
}

.hero {
  width: 100vw;
  height: 100vh;
  background-image: url("./images/main-bg.jpg");
  background-size: cover;
  background-position: center;
}

/* Navbar */
.navbar, .navbar-mobile {
  padding: 1em 2em;
  align-items: center;
}

.main-menu {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4em;
}

.main-menu ul, .secondary-menu, .footer-secondary-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-center {
  justify-content: center;
}

.navbar-right {
  justify-content: flex-end;
}

/* Links inside the navbar */
.navbar a, .navbar-mobile a {
  font-size: 12px;
  color: white;
  text-align: center;
  padding-right: 16px;
  text-decoration: none;
  letter-spacing: 3px;
  list-style: none;
}

.navbar-right li {
  list-style: none;
}

.navbar-right a {
  padding: 5px;
}

.navbar-right .shopping-cart {
  background-color: #a33e46;
  border-radius: 45%;
}

.logo {
  background-image: url("./images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 130px;
  height: 50px;
}

/* Add background color to navbar links on hover */
.navbar:hover, .dropdown-content {
  background-color: #efb44e;
}

.navbar:hover a {
  color: #000000;
}

.navbar:hover .logo {
  background-image: url("./images/logo-black.png");
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  transition: all .2s ease-out;
  height: 0px;
  overflow: hidden;
}

/* Show the dropdown menu on hover */
.navbar:hover .dropdown-content {
  border-top: 1px solid #000000;
  height: 300px;
}

.menu-two-col {
  width: 40%;
  justify-content: center;
  padding: 5em;
  flex: auto;
}

.menu-two-col .column {
  width: 50%;
}

.menu-three-col-container {
  width: 75%;
}

.menu-three-col-container h2 {
  margin: 30px 0 20px 0;
}

/* mobile menu */
.navbar-mobile {
  display: none;
  flex: none;
  justify-content: space-around;
}

.navbar-mobile .navbar-right {
  padding: 0;
}

/* collapse menu */
.mobile-nav-toggle {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
  position: fixed;
  width: 3.6rem;
  z-index: 2;
}

.mobile-nav-toggle:hover {
  opacity: 0.8;
}

.mobile-nav-toggle .mobile-nav-toggle-bar,
.mobile-nav-toggle .mobile-nav-toggle-bar::after,
.mobile-nav-toggle .mobile-nav-toggle-bar::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: white;
  content: "";
  height: 0.4rem;
  width: 50px;
}

.mobile-nav-toggle .mobile-nav-toggle-bar {
  margin-top: 0;
}

.mobile-nav-toggle .mobile-nav-toggle-bar::after {
  margin-top: 0.8rem;
}

.mobile-nav-toggle .mobile-nav-toggle-bar::before {
  margin-top: -0.8rem;
}

.mobile-nav-toggle.expanded .mobile-nav-toggle-bar {
  background: transparent;
}
.mobile-nav-toggle.expanded .mobile-nav-toggle-bar::after, .mobile-nav-toggle.expanded .mobile-nav-toggle-bar::before {
  background: white;
  margin-top: 0;
}

.mobile-nav-toggle.expanded .mobile-nav-toggle-bar::after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #000;
}

.mobile-nav-toggle.expanded .mobile-nav-toggle-bar::before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #000;
}

/* mobile-nav */
.mobile-nav {
  -webkit-transition: left 0.5s ease;
  -moz-transition: left 0.5s ease;
  -ms-transition: left 0.5s ease;
  -o-transition: left 0.5s ease;
  transition: left 0.5s ease;
  background: #efb44e;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  height: 100vh;
  left: -30rem;
  padding: 6rem 2rem 2rem 2rem;
  position: fixed;
  top: 0;
  width: 20rem;
  z-index: 1;
}

.mobile-nav.expanded {
  left: 0;
}

.collapse-menu {
  padding: 1em 0;
  margin: 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.collapse-content {
  margin: 0 30px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapse-content ul {
  padding: 0;
}

.collapse-content li {
  height: 25px;
}

.collapse-content a {
  text-decoration: none;
  color: #000;
  font-size: 12px;
}

.collapsible {
  color: white;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible:after {
  content: '\002B';
  color: #000;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.collapsible a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 16px;
}

.active:after {
  content: "\2212";
}

/* Three col style */
.center {
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2em;
}

.center > * {
  flex: 1 1 200px;
}

.three-col .column {
  width: 48%;
  margin: 2%;
}

.three-col .column:nth-child(3n) {
  width: 100%;
}

.menu-three-col > * {
  margin-right: 2em;
}

.menu-three-col .column .pic {
  width: 200px;
}

.three-col .column .model {
  width: 100%
}

/* Style links and p inside the columns */
.column a, p {
  float: none;
  color: black;
  padding: 3px 0px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 12px;
  letter-spacing: 1px;
}

.secondary-menu {
  width: 100%;
  justify-content: space-evenly;
  color: #000000;
  margin: 1em 0;
}

.secondary-menu li:first-child {
  color: grey;
}

.good-silk, .container-fixed-el, .footer-container {
  margin: 2%;
}

.good-silk > * {
  width: 50%;
}

.good-silk .column:nth-child(2n) {
  padding: 4em;
  align-self: center;
  max-width: 400px;
  min-height: 450px;
}

.good-silk .column:nth-child(2n) h2 {
  font-size: 6em;
  font-weight: 500;
  line-height: 95px;
  margin: 0;
}

.good-silk .column:nth-child(2n) p {
  margin: 5em 0;
  padding: 0;
  font-weight: 400;
}

.two-col > * {
  width: 50%;
}

.fixed {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.grid-2x2 {
  justify-content: flex-end;
}

.grid-2x2 .column {
  width: 45%;
  margin-left: 2%;
}

.price-details {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.price-details span {
  justify-content: flex-end;
}

/* Footer */
.footer-menu-left h2 {
  font-weight: 200;
}

.footer-menu-left p {
  margin: .2em 0;

}
.footer-menu-left p span {
  text-decoration: underline;
}

.footer-secondary-menu-container {
  margin-top: 2em;
}

.footer-secondary-menu-container > *{
  width: 33%;
}

.footer-secondary-menu h4 {
  font-weight: 500;
}

@media (max-width: 950px) {
  /* media query for the three col section */
  .center {
    padding: 0;
  }

  .secondary-menu {
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
  }

  .secondary-menu > * {
    height: 40px;
    margin-bottom: 10px;
  }

  .secondary-menu li:first-child {
    text-transform: uppercase;
  }

  /* media query for the good silk section */
  .good-silk {
    flex-wrap: wrap;
    margin: 0;
  }

  .good-silk > * {
    width: 100%;
  }

  .good-silk .column:nth-child(2n) {
    max-width: 100%;
    padding: 1em;
    min-height: auto;
  }

  .good-silk .column:nth-child(2n) h2 {
    font-size: 5em;
  }
  
  .good-silk .column:nth-child(2n) p {
    margin: 1.5em 0 2.5em 0;
    padding: 0;
    font-weight: 400;
  }

  .good-silk .column:nth-child(2n) button {
    width: 100%;
    padding: 2em;
  }

  .two-col > * {
    width: 100%;
  }

  .container-fixed-el {
    display: inline-block;
    width: 100%;
    margin: 0;
  }

  .container-fixed-el .fixed {
    position: relative;
  }

  .horizontal-scroll {
    overflow: auto;
    display: flex;
  }

  .grid-2x2 {
    min-width: 700px;
    justify-content: space-around;
    margin-top: 4%;
  }

  .footer-container, .footer-menu-left, .footer-secondary-menu-container {
    display: block;
  }

  .footer-container {
    padding: 1.5em;
  }

  .footer-secondary-menu-container {
    border-top: 1px solid #000;
  }

  .footer-secondary-menu-container > * {
    width: 100%;
  }

  /* mobile menu */
  .navbar {
    display: none;
  }

  .navbar-mobile {
    display: flex;
  }
}